* {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

#search {
  margin: 3%;
  height: auto;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.morent h1 {
  color: #3563e9;
  font-weight: bold;
}

.search-comtainer {
  border: 0.5px solid #f3e6e6;
  border-radius: 20px;
  width: 30rem;
  margin-right: 30%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bless {
  height: 50%;
}

.head-img {
  display: flex;
  flex-direction: row;
  grid-template-rows: auto;
  gap: 10%;
  height: 3rem;
}

.border {
  border-radius: 50px;
  border: 1px solid #f3e5e5;
  height: 2.8rem;
  width: 4rem;
  align-content: center;
  padding-left: 3%;
}

@media screen and (max-width: 320px) {
  .head {
    display: flex;
    flex-wrap: wrap;
  }
}

#body {
  background-color: #f6f7f9;
}

#rental {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.rental-left {
  background-color: #54a6ff;
  border: 1px solid #54a6ff;
  height: 20rem;
  border-radius: 10px;
  width: 42rem;
  margin-top: 2%;
  height: 25rem;
}

.rental-right {
  background-color: #3563e9;
  border: 1px solid #3563e9;
  border-radius: 10px;
  width: 42rem;
  margin-top: 2%;
}

.text h1 {
  color: white;
  font-size: 30px;
  width: 40%;
  margin-left: 4%;
  margin-top: 7%;
}

.mid-left {
  color: #fff;
  margin-top: 2%;
  width: 40%;
  margin-left: 4%;
}

.bnt-1 {
  border: 0.5px solid #3563e9;
  border-radius: 4px;
  width: 6rem;
  height: 2.5rem;
  background-color: #3563e9;
  color: #fff;
  margin-top: 3%;
}

.bnt-2 {
  border: 0.5px solid #54a6ff;
  border-radius: 4px;
  width: 6rem;
  height: 2.5rem;
  background-color: #54a6ff;
  color: #fff;
  margin-top: 3%;
}

.img-7 {
  height: 25%;
  margin-top: 6%;
  margin-left: 15rem;
}

#pick {
  display: flex;
  flex-direction: row;
}

.text-box {
  display: flex;
  flex-direction: column;
  border: 0.5px solid #fff;
  border-radius: 10px;
  width: 40%;
  background-color: #fff;
  margin-top: 2%;
  height: 8rem;
  margin-left: 4%;

}

.text-box h1 {
  margin-top: 2%;
  margin-left: 5%;
}

.box-bt {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}

.locat h1 {
  font-size: 1rem;
}

.locat span {
  font-size: .8rem;
}

.date h1 {
  font-size: 1rem;
}

.date span {
  font-size: .8rem;
}

.time h1 {
  font-size: 1rem;
}

.timebt span {
  font-size: .8rem;
}

.box1-bt {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2%;
}

.locat1 h1 {
  font-size: 1rem;
}

.locat1 span {
  font-size: .8rem;
}

.date1 h1 {
  font-size: 1rem;
}

.date1 span {
  font-size: .8rem;
}

.time1 h1 {
  font-size: 1rem;
}

.time1 span {
  font-size: .8rem;
}

.swap {
  background-color: #3563e9;
  margin-top: 4%;
  height: 5rem;
  margin-left: 3%;
  width: 4.5rem;
  border-radius: 10px;
}

.swap img {
  margin-top: 35%;
  margin-left: 30%;
}

.disp {
  display: flex;
  justify-content: space-between;
  margin-top: 4%;
}
.disp p {
  margin-left: 3%;
}

.disp span {
  color: #3563e9;
  margin-right: 3%;
}
