* {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
}

#search {
  margin: 3%;
  height: auto;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.morent h1 {
  color: #3563e9;
  font-weight: bold;
}

.search-comtainer {
  border: 0.5px solid #f3e6e6;
  border-radius: 20px;
  width: 30rem;
  margin-right: 30%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.bless {
  height: 50%;
}

.head-img {
  display: flex;
  flex-direction: row;
  grid-template-rows: auto;
  gap: 10%;
  height: 3rem;
}

.border {
  border-radius: 50px;
  border: 1px solid #f3e5e5;
  height: 2.8rem;
  width: 4rem;
  align-content: center;
  padding-left: 3%;
}

@media screen and (max-width: 320px) {
  .head {
    display: flex;
    flex-wrap: wrap;
  }
}

#body {
  background-color: #f6f7f9;
}

#rental {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.rental-left {
  background-color: #54a6ff;
  border: 1px solid #54a6ff;
  height: 20rem;
  border-radius: 10px;
  width: 42rem;
  margin-top: 2%;
}

.rental-right {
  background-color: #3563e9;
  border: 1px solid #3563e9;
  border-radius: 10px;
  width: 42rem;
  margin-top: 2%;
}